[Unit]
Description=Fireplace video looper service
After=multi-user.target
Wants=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/pi_fireplace/start.sh