[Unit]
Description=Fireplace video looper service
After=graphical.target
Wants=graphical.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/pi_fireplace/start.sh